$colors: (
  primary: #ebebeb,
  secondary: #000000,
  alternative: #231f20,
  alternative-50: #cbc4c6,
  women: #fde2d8,
);

$font-weights: (
  "regular": 400,
  "semi-bold": 500,
  "bold": 700,
  "black": 900,
);

$font-families: (
  Default: "Raleway, sans-serif",
  Numbers: "Poppins, sans-serif",
);

$fonts-sizes: (
  small: 14px,
  normal: 16px,
  text-m: 18px,
  text-lg: 20px,
  text-xl: 24px,
  text-xll: 32px,
  text-xlll: 40px,
  big: 48px,
  gigant: 64px,
);

$line-heights-list: 150%, 140%, 130%, 125%, 115%, auto;

@if map-get($fonts-sizes, gigant) {
  $line-height: nth($line-heights-list, 6);
} @else if map-get($fonts-sizes, big) or map-get($fonts-sizes, text-xlll) {
  $line-height: nth($line-heights-list, 5);
} @else if map-get($fonts-sizes, text-xll) {
  $line-height: nth($line-heights-list, 4);
} @else if map-get($fonts-sizes, text-xl) {
  $line-height: nth($line-heights-list, 3);
} @else if map-get($fonts-sizes, text-lg) or map-get($fonts-sizes, text-m) {
  $line-height: nth($line-heights-list, 2);
} @else {
  $line-height: nth($line-heights-list, 1);
}

$breakpoints: (
  tablet: 640px,
  laptop: 1024px,
  desktop: 1440px,
);

@mixin responsive() {
  /*todos los mixins en un archivo de solo mixins*/
  display: flex;
  justify-content: baseline;
  @media screen and (min-width: map-get($breakpoints, $key)) {
  }
}

@mixin flex($main-axis, $cross-axis, $flex: flex, $direction: row) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $main-axis;
  align-items: $cross-axis;
  flex: wrap;
  @content;
}
@mixin list() {
  /*esto cuenta como reinicio de estilos, entonces to eso en lugar de un mixin
  mandelo para el archivo de reboot*/
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
