*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
}

.paymentMethods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 180px;
  background-color: #cbc4c6;
}
.paymentMethods__method {
  padding: 20px;
}

.footer__info {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ebebeb;
  padding: 30px 0;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 85%;
  max-width: 400px;
}
.footer__columns {
  width: 85%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 30px 0;
}
.footer__column--legal, .footer__column--contact, .footer__column--social {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__column--contact h3 {
  font-size: 18px;
  font-weight: 400;
}
.footer__column--contact h3 span {
  font-weight: 700;
}
.footer__title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px;
}
.footer__link {
  font-size: 16px;
  font-weight: 700;
  color: #ebebeb;
}

.container__legal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container__contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container__social {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.urcube {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  gap: 20px;
}
.urcube__title {
  font-size: 14px;
  font-weight: 400;
}
