/* Error: Undefined variable.
 *    ,
 * 35 | @if $font-size >= 64px {
 *    |     ^^^^^^^^^^
 *    '
 *   src2/scss/_variables.scss 35:5  @import
 *   src2/scss/main.scss 1:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 35 \2502  @if $font-size >= 64px {\a    \2502      ^^^^^^^^^^\a    \2575 \a   src2/scss/_variables.scss 35:5  @import\a   src2/scss/main.scss 1:9         root stylesheet";
}
